@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <h2>Import</h2>
        <form id="uploader">
            <input id="fileInput" type="file" accept=".csv,.xml">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload file" class="btn btn-default" />
            </div>
        </form>

    </div>
</div>


@section Scripts
{

    <script type="text/javascript">

        document.getElementById('uploader').onsubmit = function () {
            if (checkFile()) {
                submitFile();
            }
        }

        function checkFile() {
            var fileElement = document.getElementById("fileInput");
            var fileExtension = "";
            if (fileElement.value.lastIndexOf(".") > 0) {
                fileExtension = fileElement.value.substring(fileElement.value.lastIndexOf(".") + 1, fileElement.value.length);
            }

            if (fileExtension.toLowerCase() == "csv") {
                return true;
            }
            else if (fileExtension.toLowerCase() == "xml") {
                return true;
            }
            else {
                alert("Unknown Format");
                return false;
            }
        }

        function submitFile() {

            var formdata = new FormData(); 
            var fileInput = document.getElementById('fileInput');
            for (i = 0; i < fileInput.files.length; i++) {

                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Home/UploadFile');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {

                if (xhr.readyState == 4 && xhr.status == 200) {
                    alert(xhr.responseText);

                }
            }
            return false;

            @*$.ajax({
                type: "POST",
                data: formData,
                url: "@Url.Action("UploadFile", "Home")",
                dataType: 'json',

                success: function (response) {
                    alert(response.responseText);
                }


            });*@

            return false;
        }

    </script>

}